/******** here is where my styles start **********/

html, body, .logo {
    /* height: 100%; */
}

.logo {
    justify-content: center;
}

.logo #google-logo {
    display: block;
    height: 270;
    width: 90;
    margin: 0 auto;
}

.search-container{
    display: block;
    width: 585px;
    height: 45px;   
    margin: 0 auto;
}

.logo #search-field {
    /* size: 585; */
    display: block;
    width: 475px;
    height: 45px;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 1px silver;
    margin: 0 auto;    
}

.buttons {
    color: rgb(121, 121, 121);
    margin: 0 15px 0 auto;
    font-size: 12px;
    padding: 12px 15px;
    /*color: #434343;*/
    background-color: #F6F6F6;
    border: none;
    font-family: arial, sans-serif;
}


.buttons:hover {
    color: rgb(75, 75, 75);
    border: 1px solid rgb(75, 75, 75);
}